# iOS Build artifacts
App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Xcode user data
*.xcuserstate
project.xcworkspace/
*.xcuserdatad/

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# iOS specific music cache
App/Documents/MusicCache/
App/Library/Caches/

# iOS keychain and certificates
*.p12
*.mobileprovision
*.certSigningRequest
